body,#vuemain {
            padding: 0;
            margin: 0;
            color:#111111;
            background-color:#eeeeee;
            }
            h1{
            color:#b38600;
            }
            .position {
            position:relative;
            left:200px;
            }
            .topright2 {
            position: absolute;
            top: 20px;
            right: 140px;
            font-size: 16px;
            }
            .employeeposition {
            position: absolute;
            top: 300px;
            right: 200px;
            }
            .button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 5px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            }
            .border{
            border-style:solid;
            border-width:30px;
            border-color:#b38600;
            }
            div, header {
            padding: 1em;
            }
            nav .pure-menu-link {
            color: #eeeeee;
            }
            nav .pure-menu-link:hover {
            color: LightSlateGrey;
            }
            header,footer {
            border-bottom: 1px solid #444444;
            background-color: #330033;
            color: #eeeeee;
            border-radius:20px;
            }
            footer {
            border-top: 1px solid #444444;
            background-color: LightSlateGrey;
            color: #eeeeee;
            text-align: center;
            clear: both;
            }
            #vuemain.nightcolorchange {
            background-color: #ffff00;
            }
            #ad img {
            width: 24em;
            }
            #ad h2 {
            text-align: center;
            }
            #stores img {
            width: 6em;
            float: right;
            margin-left: 1em;
            }
            #items img{
            width: 12em;
            float: left;
            margin-right: 1em;
            }
            a{
            color:black;
            }
            .buttonstyle{
            font-size: 18px;
            background-color:#b38600;
            color: #330033;
            width:110px;
            }
            table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            text-align:center;
            }
            th{
            background-color:green;
            }
            #vuemain{
                border-radius:"20px";
            }
            td{
            background-color:LightGray;
            }
            .textbox{
            background-color:#ffbf00 ;
            margin:10px;
            border: 10px solid green;
            border-color: #111111;
            padding: 50px;
            }
            .dropdown-content a:hover {
            background-color: #111111;
            text-align:center;
            }
            .dropdown:hover .dropdown-content {
            display: block;
            text-align:center;
            }
            .dropdown:hover .dropbtn {
            background-color: #111111;
            text-align:center;
            }
            .vl {
            border-left: 6px solid black;
            height: 500px;
            position: absolute;
            left: 50%;
            margin-left: -3px;
            top: 0;
            }
            .dropbtn {
            background-color: #4CAF50;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
            }

            .dropdown {
            position: relative;
            display: inline-block;
            }

            .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            }

            .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            }
            .round{
            border-radius:25px
            }
            .topright2 {
  position: absolute;
  top: 20px;
  right: 140px;
  font-size: 16px;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.border
            {
                border-style:solid;
                border-width:50px;
                border-color:#b38600;
            }
            div, header {
                padding: 1em;
            }
            header,footer {
                border-bottom: 1px solid #444444;
                background-color: #330033;
                color: #eeeeee;
            }

            footer {
                border-top: 1px solid #444444;
                background-color: LightSlateGrey;
                color: #eeeeee;
                text-align: center;
                clear: both;
            }
        
            a{
            color:black;
            }
            .buttonstyle
            {
                font-size: 18px;
  background-color:#b38600;
  color: #330033;
  width:110px;
            }
              table, th, td {
              border: 1px solid black;
              border-collapse: collapse;
              text-align:center;
            }
            th{
                background-color:green;
            }
            td
            {
                background-color:LightGray;
            }
            